<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Admin/ShelvingMaintenance
 * File: Add.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Add Shelving Location form.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * May 25, 2017, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.shelving_maintenance.add.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire=${ new String[]{ 'js/controllers/Admin/ShelvingMaintenance/ShelvingMaintenanceAddController', 'js/controllers/AdminSidebarNavController'} })">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var shelvingLocation = /*[[${location}]]*/null;
            
            Utility.putPageSessionItem( "ShelvingMaintenanceAdd", "shelvingLocation", shelvingLocation );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: admin_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="ShelvingMaintenanceAdd">

                <div th:replace="fragments/message_containers :: messages" />
                
                <form name="addShelfForm" id="addShelfForm" th:object="${location}" class="form-horizontal col-md-8">
                    <input type="hidden" th:field="*{id}" ng-model="model.shelvingLocation.id" />

                    <div class="panel panel-default">
                        <div class="row padding-10">
                            <div class="col-xs-3 line-height-2">
                                <span class="padding-5"><strong th:text="#{admin.shelving_maintenance.add.title}"></strong></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <button class="btn btn-sm btn-default" ng-click="save()"><span class="glyphicon glyphicon-plus"></span> <span>Save</span></button>
                                <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-right margin-bottom-20">
                        <span class="text-danger bg-danger padding-5 border-rad-4"><strong>* = Required</strong></span>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label required" th:text="#{models.shelving_location.name}"></label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{name}" ng-model="model.shelvingLocation.name" class="form-control" maxlength="100" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label" th:text="#{models.shelving_location.description}"></label>
                        <div class="col-sm-9">
                            <textarea th:field="*{description}" rows="4" ng-model="model.shelvingLocation.description" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="active" class="col-sm-3 control-label" th:text="#{models.shelving_location.active}"></label>
                        <div class="col-sm-9">
                            <input type="checkbox" id="active" name="active" ng-model="model.shelvingLocation.active" class="mod" />
                            <label for="active"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>