<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/js-fragments/
 * File: biblio-import.html
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Modal dialog for searching for and importing a bibliographic record.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Sep 17, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<div class="modal-header">
    <div class="close" style="width: 40px; height: 40px;">
        <div id="loadingIcon" class='uil-ripple-css' style='display: none; transform: scale(0.2) ;transform-origin: left top;'><div></div><div></div></div>
    </div>
    <h3 class="modal-title" id="modal-title" th:text="#{fragments.biblio_import_modal.title}"></h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-inline">
        <div class="row margin-bottom-10">
            <div class="col-sm-12">
                <div class="input-group" style="width: 100%;">
                    <span class="input-group-addon" style="width: 15%;">
                        <strong th:text="#{fragments.biblio_import_modal.id}"></strong>
                    </span>
                    <span style="padding: 0px; border: 0px; background: none; width: 10%;" class="input-group-addon"> 
                        <select class="form-control" style="width: 100%;" ng-options="src as src.organization for src in model.sruSources track by src.id" ng-model="model.query.sruSource"></select>
                    </span>
                    <span style="padding: 0px; border: 0px; background: none; width: 15%;" class="input-group-addon"> 
                        <select class="form-control" style="width: 100%;" ng-options="type for type in model.biblioIdTypes" ng-model="model.query.biblioIdType"></select>
                    </span>
                    <input type="text" class="form-control" style="max-width: 100%;" id="biblioId" ng-model="model.query.biblioId" autofocus />
                    <span class="input-group-btn" style="width: 15%;">
                        <button class="btn btn-primary" style="padding-top: 5px; padding-bottom: 6px; width: 100%;" ng-click="executeQuery()"><span class="material-icons md-18">search</span> <span th:text="#{fragments.biblio_import_modal.search}"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table ng-table="model.tableParams" class="table table-condensed table-bordered table-striped table-hover">
                    <tr ng-repeat="row in $data" ng-if="$data.length > 0" style="cursor: pointer;" ng-click="selectRecord( row )">
                        <td th:attr="data-title='\'' + #{models.sru_query_result.record_type} + '\''" sortable="'recordTypeName'" ng-bind="row.recordTypeName"></td>
                        <td th:attr="data-title='\'' + #{models.sru_query_result.title} + '\''" sortable="'title'" ng-bind="row.title"></td>
                        <td th:attr="data-title='\'' + #{models.sru_query_result.creator} + '\''" sortable="'author'" ng-bind="row.author"></td>
                        <td th:attr="data-title='\'' + #{models.sru_query_result.publication_year} + '\''" sortable="'publicationYear'" ng-bind="row.publicationYear"></td>
                        <td th:attr="data-title='\'' + #{models.sru_query_result.edition_statement} + '\''" sortable="'editionStatement'" ng-bind="row.editionStatement"></td>
                        <td th:attr="data-title='\'' + #{models.sru_query_result.biblio_id} + '\''" sortable="'biblioId'" ng-bind="row.biblioId"></td>
                        <td th:attr="data-title='\'' + #{models.sru_query_result.lccn} + '\''" sortable="'lccn'" ng-bind="row.lccn"></td>
                    </tr>
                    <tr ng-if="$data.length < 1">
                        <td colspan="7"><span th:text="#{fragments.biblio_import_modal.noresults}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" id="modal-footer">
    <button class="btn btn-link" ng-click="cancel()"><span th:text="#{messages.cancel}"></span></button>
</div>
