<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/js-fragments/
 * File: image-selector.html
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Modal dialog for selecting an image in the resources directory.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Dec 30, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<style type="text/css">
	.image-selector-modal {
		z-index: 10004 !important;
	}
	.image-selector-modal .modal-dialog {
		z-index: 10005;
	}
    .preview.img-thumbnail {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 100px;
        height: 100px;
        margin-left: 5px; 
        margin-right: 5px; 
        margin-bottom: 10px;
        cursor: pointer;
    }
    .preview.img-thumbnail:hover {
        border-color: #888;
    }
    .preview.img-thumbnail > IMG {
        max-width: 90px; 
        max-height: 90px;
    }
</style>
<div class="modal-header" xmlns:th="http://www.thymeleaf.org">
    <h3 class="modal-title" id="modal-title" th:text="#{fragments.image_selector_modal.title}"></h3>
</div>
<div class="modal-body" id="modal-body" style="max-height: 500px; overflow-y: scroll;"xmlns:th="http://www.thymeleaf.org">
    <div class="preview img-thumbnail" ng-repeat="img in model.images" uib-tooltip="{{ img }}" tooltip-append-to-body="true" ng-click="selectImage( AppRoot + 'Resources/' + img )">
        <img ng-src="{{ AppRoot + 'Resources/Thumbnails/' + img }}" />
    </div>
</div>
<div class="modal-footer" id="modal-footer" xmlns:th="http://www.thymeleaf.org">
    <div style="float: left;">
        <label class="btn btn-success">
            <span class="material-icons">file_upload</span>
            <span th:text="#{messages.upload_image}">Upload an image...</span>
            <input type="file" id="imageSelectorFile" name="file" style="display: none;" th:accept="${#strings.listJoin(imageFileExtensions, ',')}" />
        </label>
    </div>
    <div style="float: right;">
        <button class="btn btn-link" ng-click="cancel()"><span th:text="#{messages.cancel}"></span></button>
    </div>
</div>