<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/js-fragments/
 * File: patron-search.html
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Modal dialog for searching for and selecting a patron.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Sep 4, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<div class="modal-header">
    <div class="close" style="width: 40px; height: 40px;">
        <div id="loadingIcon" class='uil-ripple-css' style='display: none; transform: scale(0.2) ;transform-origin: left top;'><div></div><div></div></div>
    </div>
    <h3 class="modal-title" id="modal-title" th:text="#{fragments.patron_search_modal.title}"></h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-inline">
        <div class="row margin-bottom-10">
            <div class="col-sm-12">
                <div class="form-group col-sm-3">
                    <label for="patronSearchCardNumber" th:text="#{models.patron.card_number}"></label>
                    <input type="text" class="form-control" id="patronCardNumber" ng-model="model.query.cardNumber" />
                </div>
                <div class="form-group col-sm-3">
                    <label for="patronSearchLastName" th:text="#{models.user.last_name}"></label>
                    <input type="text" class="form-control" id="patronSearchLastName" ng-model="model.query.lastName" />
                </div>
                <div class="form-group col-sm-3">
                    <label for="patronSearchFirstName" th:text="#{models.user.first_name}"></label>
                    <input type="text" class="form-control" id="patronSearchFirstName" ng-model="model.query.firstName" />
                </div>
                <div class="form-group col-sm-3">
                    <label for="patronSearchUserName" th:text="#{models.user.user_name}"></label>
                    <input type="text" class="form-control" id="patronSearchUserName" ng-model="model.query.userName" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table ng-table="model.tableParams" class="table table-condensed table-bordered table-striped table-hover">
                    <tr ng-repeat="row in $data" ng-if="$data.length > 0" style="cursor: pointer;" ng-click="selectPatron(row)">
                        <td th:attr="data-title='\'' + #{models.user.last_name} + '\''" sortable="'lastName'" ng-bind="row.lastName"></td>
                        <td th:attr="data-title='\'' + #{models.user.first_name} + '\''" sortable="'firstName'" ng-bind="row.firstName"></td>
                        <td th:attr="data-title='\'' + #{models.user.middle_initial} + '\''" sortable="'middleInitial'" ng-bind="row.middleInitial"></td>
                        <td th:attr="data-title='\'' + #{models.user.user_name} + '\''" sortable="'userName'" ng-bind="row.userName"></td>
                    </tr>
                    <tr ng-if="$data.length < 1">
                        <td colspan="5"><span th:text="#{fragments.patron_search_modal.noresults}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" id="modal-footer">
    <button class="btn btn-link" ng-click="cancel()"><span th:text="#{messages.cancel}"></span></button>
</div>
