<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/js-fragments/
 * File: web-document-selector.html
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Modal dialog for selecting a web document to link to.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jan 02, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<div class="modal-header">
    <h3 class="modal-title" id="modal-title" th:text="#{fragments.web_document_selector_modal.title}"></h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <table ng-table="model.tableParams" class="table table-condensed table-bordered table-striped table-hover">
                <tr ng-repeat="row in $data" ng-if="$data.length > 0" style="cursor: pointer;" ng-click="selectWebDocument(row)">
                    <td th:attr="data-title='\'' + #{models.web_document.title} + '\''" sortable="'title'" ng-bind="row.title"></td>
                    <td th:attr="data-title='\'' + #{models.web_document.friendly_url} + '\''" sortable="'friendlyUrl'" ng-bind="row.friendlyUrl"></td>
                    <td th:attr="data-title='\'' + #{models.web_document.document_type} + '\''" sortable="'documentType'" ng-bind="convertDocumentType(row.documentType)"></td>
                    <td th:attr="data-title='\'' + #{models.web_document.locale} + '\''" sortable="'locale'" ng-bind="row.locale"></td>
                </tr>
                <tr ng-if="$data.length < 1">
                    <td colspan="4"><span th:text="#{fragments.web_document_selector_modal.noresults}"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer" id="modal-footer">
    <div style="float: left;">
        <input type="checkbox" id="forceLocaleSelection" name="forceLocaleSelection" ng-model="model.forceLocaleSelection" />
        <label for="forceLocaleSelection" th:text="#{fragments.web_document_selector_modal.force_locale_selection}"></label>
    </div>
    <div style="float: right;">
        <button class="btn btn-link" ng-click="cancel()"><span th:text="#{messages.cancel}"></span></button>
    </div>
</div>
