<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Employee
 * File: Index.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Dashboard / home page for Aether users.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Apr 3, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.title}">Aether</title>
    
    <meta th:replace="fragments/common_html_head :: head" />
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex primary-content">
                <div class="column-flex panel panel-default transaction-listbox">
                    <input type="text" class="form-control transaction-input" th:placeholder="#{home.transaction_textbox}" />
                    <div class="transaction-list"></div>
                    <button type="button" class="btn transaction-button btn-orange"><span class="material-icons">check</span> Complete Transaction</button>
                </div>
            </div>
            <div class="column-flex secondary-content">
                <div class="panel panel-default stat-panel">
                    Panel 1
                </div>
                
                <div class="panel panel-default stat-panel">
                    Panel 2
                </div>
                
                <div class="panel panel-default stat-panel">
                    Panel 3
                </div>
            </div>
        </div>
    </div>
</body>
</html>