<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Admin/SystemMaintenance
 * File: Index.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Admin index 
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Oct 27, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.system_maintenance.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire=${ new String[]{ 'js/controllers/Admin/SystemMaintenance/SystemMaintenanceIndexController', 'js/controllers/AdminSidebarNavController'} })">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var systemSettings = /*[[${systemSettings}]]*/null;
            var isReindexing = /*[[${isReindexing}]]*/null;
            var reindexProgress = /*[[${reindexProgress}]]*/null;
            var yesButtonLabel = /*[[#{messages.yes}]]*/null;
            var noButtonLabel = /*[[#{messages.no}]]*/null;
            var confirmModalTitle = /*[[#{messages.confirm}]]*/null;
            var confirmModalMessage = /*[[#{admin.system_maintenance.reindex_warning}]]*/null;
            
            Utility.putPageSessionItem( "SystemMaintenanceIndex", "systemSettings", systemSettings );
            Utility.putPageSessionItem( "SystemMaintenanceIndex", "isReindexing", isReindexing );
            Utility.putPageSessionItem( "SystemMaintenanceIndex", "reindexProgress", reindexProgress );
            Utility.putPageSessionItem( "SystemMaintenanceIndex", "yesButtonLabel", yesButtonLabel );
            Utility.putPageSessionItem( "SystemMaintenanceIndex", "noButtonLabel", noButtonLabel );
            Utility.putPageSessionItem( "SystemMaintenanceIndex", "confirmModalTitle", confirmModalTitle );
            Utility.putPageSessionItem( "SystemMaintenanceIndex", "confirmModalMessage", confirmModalMessage );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />
    
    <div th:replace="fragments/contentwrappers :: admin_content_wrapper">
        <div th:fragment="content">
            <div class="row-flex padding-20" ng-controller="SystemMaintenanceIndex">
                <form name="systemSettingsForm" id="systemSettingsForm" class="column-flex form-horizontal" style="flex: 0 1 80%;" th:object="${systemSettings}">
                    <div th:replace="fragments/message_containers :: messages" />
                    
                    <div class="panel panel-default">
                        <div class="row padding-10">
                            <div class="col-xs-6 line-height-2">
                                <span class="padding-5"><strong th:text="#{admin.system_maintenance.title}"></strong></span>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-sm btn-default" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> <span>Save</span></button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-right margin-bottom-20">
                        <span class="text-danger bg-danger padding-5 border-rad-4"><strong>* = Required</strong></span>
                    </div>
                    
                    <div class="form-group">
                        <label for="systemTitle" class="col-sm-4 required control-label" th:text="#{admin.system_maintenance.system_title}">System Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:field="*{systemTitle}" ng-model="model.systemSettings.systemTitle" required="required" maxlength="65535" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="useCustomLogo" class="col-sm-4 control-label" th:text="#{admin.system_maintenance.use_custom_logo}">Custom Logo</label>
                        <div class="col-sm-8">
                            <input type="checkbox" style="width: 20px; height: 20px;" class="mod" id="useCustomLogo" name="useCustomLogo" ng-model="model.systemSettings.useCustomLogo" />
                            <label for="useCustomLogo"></label>
                        </div>
                    </div>
                    
                    <div id="divCustomLogo" class="form-group" ng-show="model.systemSettings.useCustomLogo" ng-cloak>
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="custom-logo">
                                <div class="thumbnail" th:switch="${customLogoExists}" id="customLogo">
                                    <img th:case="false" src="#" style="width: 50px; height: 50px; display: none;" />
                                    <img th:case="true" th:src="@{/Resources/custom_logo.png}" style="width: 50px; height: 50px;" />
                                </div>
                                <label class="btn btn-primary btn-xs">
                                    <span class="material-icons">file_upload</span> <span th:text="#{admin.system_maintenance.use_custom_logo.select_logo}">Select Logo</span>
                                    <input type="file" id="flCustomLogo" style="display: none;" accept=".jpg,.png,.gif" />
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="systemAvailable" class="col-sm-4 control-label" th:text="#{admin.system_maintenance.system_available}">System Available</label>
                        <div class="col-sm-8">
                            <input type="checkbox" style="width: 20px; height: 20px;" class="mod" id="systemAvailable" name="systemAvailable" ng-model="model.systemSettings.systemAvailable" />
                            <label for="systemAvailable"></label>
                        </div>
                    </div>
                    
                    <div id="divSystemAvailableMessage" class="form-group" ng-show="!model.systemSettings.systemAvailable" ng-cloak>
                        <label for="systemUnavailableMessage" class="col-sm-4 control-label" th:text="#{admin.system_maintenance.system_unavailable_message}">System Down Message</label>
                        <div class="col-sm-8">
                            <textarea th:field="*{systemUnavailableMessage}" rows="5" ng-model="model.systemSettings.systemUnavailableMessage" class="form-control" maxlength="65535"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="googleApiKey" class="col-sm-4 required control-label" th:text="#{admin.system_maintenance.google_api_key}">Google API Key</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:field="*{googleApiKey}" ng-model="model.systemSettings.googleApiKey" required="required" maxlength="65535" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="reindex" class="col-sm-4 control-label" th:text="#{admin.system_maintenance.reindex}">Reindex Database</label>
                        <div class="col-sm-8">
                            <uib-progressbar animate="true" value="model.reindexProgress" type="info" ng-if="model.isReindexing">{{ model.reindexProgress }}%</uib-progressbar>
                            <button class="btn btn-danger" ng-if="model.isReindexing && model.reindexProgress < 100" ng-click="confirmStopReindex()" ng-cloak><span class="material-icons">block</span> <span th:text="#{admin.system_maintenance.stop_reindex}">Stop Reindexing</span></button>
                            <button class="btn btn-primary" ng-if="!model.isReindexing || model.reindexProgress == 100" ng-click="confirmReindex()" ng-cloak><span class="material-icons">refresh</span> <span th:text="#{admin.system_maintenance.reindex}">Reindex Database</span></button>
                            <br />
                            <span th:utext="${lastReindexMessage}"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>