<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Help
 * File: Index.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Help home screen.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Dec 29, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{help.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire='js/controllers/Help/HelpIndexController')">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            //var recordTypeIconsMap = /*[[${marcBiblioRecordTypeIcons}]]*/null;
            //Utility.putPageSessionItem( "CatalogueMaintenanceIndex", "recordTypeIconsMap", recordTypeIconsMap );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="HelpIndex">
                <div th:replace="fragments/message_containers :: messages" />
                
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <h1 style="text-align: center; color: #213E4A; font-weight: bold;" th:text="#{help.heading}">Aether documentation</h1>
                        <h3 style="text-align: center; color: #1695A3;" th:text="#{help.sub_heading}">Aether is a powerful and full-featured Integrated Library System and Online Public Access Catalog. It's simple, modern interface and powerful features help you to quickly bring any library to life.</h3>
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="textbox-icon-overlay-right" style="font-size: 30px;">
                            <input type="text" class="form-control" style="font-size: 30px;" ng-keypress="searchOnEnter($event);" th:placeholder="#{help.search_help_contents}" />
                            <span ng-click="executeQuery($event);" style="cursor: pointer;">search</span>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-40">
                    <div class="col-md-4 text-center">
                        <p><img th:src="@{/images/help_aether_icon.png}" style="width: 200px; height: 200px;" /></p>
                        <h3>Getting started</h3>
                        <p>
                            <a th:href="@{/Help/aether_overview}">Aether overview</a><br />
                            <a href="#">Getting started with Aether</a>
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p><img th:src="@{/images/help_librarian_icon.png}" style="width: 200px; height: 200px;" /></p>
                        <h3>Guide for librarians</h3>
                        <p>
                            <a href="#">Getting started as a librarian</a><br />
                            <a href="#">Managing circulation</a>
                        </p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p><img th:src="@{/images/help_patron_icon.png}" style="width: 200px; height: 200px;" /></p>
                        <h3>Guide for patrons</h3>
                        <p>
                            <a href="#">Getting started as a patron</a><br />
                            <a href="#">Reserving items</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>