<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views
 * File: AccessDenied.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Shown to users who attempt to access a part of the system that is unavailable or unauthorized to them.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Apr 3, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.title}">Aether</title>
    <meta th:replace="fragments/common_html_head :: head" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth-template.css}">
</head>
<body class="authentication">
    <nav th:replace="fragments/headers :: authentication_header" />
    
    <div th:replace="fragments/contentwrappers :: external_content_wrapper">
        <div th:fragment="content">
            <div class="row first-row">
                <div class="col-sm-12">
                    <div class="alert alert-warning" th:if="${!systemAvailable}">
                        <span style="font-weight: bold;" th:text="#{messages.surprise}"></span>
                        <span th:text="${systemUnavailableMessage}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <h1 th:text="#{messages.surprise}">Uh oh!</h1>
                        <p th:text="#{accessdenied.message}">You may have attempted to access a resource that you are unauthorized for or the system may be unavailable at this time.</p>
                        <p><a th:href="@{/}" class="btn btn-primary"><span class="material-icons">home</span> <span th:text="#{home.title}">Home</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>