<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views
 * File: Login.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Login page for unauthenticated users.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Apr 3, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.title}">Aether</title>
    <meta th:replace="fragments/common_html_head :: head" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth-template.css}">
</head>
<body class="authentication">
    <nav th:replace="fragments/headers :: authentication_header" />
    
    <div th:replace="fragments/contentwrappers :: external_content_wrapper">
        <div th:fragment="content">
            <div class="row first-row">
                <div class="col-sm-12">
                    <div class="alert alert-warning" th:if="${!systemAvailable}">
                        <span style="font-weight: bold;" th:text="#{messages.surprise}"></span>
                        <span th:text="${systemUnavailableMessage}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <div class="row">
                        <div class="col-sm-12" style="padding-left: 60px;">
                            <h2 th:text="#{login.main_tagline}"></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center"><span class="material-icons splash-icons">search</span></div>
                        <div class="col-sm-8"><p th:text="#{login.tagline1}"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center"><span class="material-icons splash-icons">library_books</span></div>
                        <div class="col-sm-8"><p th:text="#{login.tagline2}"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center"><span class="material-icons splash-icons">shopping_cart</span></div>
                        <div class="col-sm-8"><p th:text="#{login.tagline3}"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center"><span class="material-icons splash-icons">people_outline</span></div>
                        <div class="col-sm-8"><p th:text="#{login.tagline4}"></p></div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-3 container-credentials">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1><span class="material-icons login">lock_open</span> <span th:text="#{login.login}">Login</span></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <form th:action="@{/j_spring_security_check}" th:method="post" th:object="${credentials}">
                                <div class="alert alert-danger" th:if="${param.error != null}">
                                    <span style="font-weight: bold;" th:text="#{messages.surprise}"></span>
                                    <span th:text="#{login.failure}">The credentials you provided could not be verified.</span>
                                </div>
                                <div class="form-group">
                                    <label for="username" th:text="#{login.username}">Username</label>
                                    <input type="text" th:field="*{username}" class="form-control" th:placeholder="|#{login.username}...|" autofocus />
                                </div>
                                <div class="form-group">
                                    <label for="password" th:text="#{login.password}">Password</label>
                                    <input type="password" th:field="*{password}" class="form-control" th:placeholder="|#{login.password}...|" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-block btn-orange" type="submit" th:text="#{login.login}" style="margin-top: 30px;">Login</button>
                                </div>
                                <div class="divider"></div>
                                <div class="form-group">
                                    <a class="btn btn-lg btn-block btn-lt-blue" th:text="#{login.register}" th:href="@{/Register}">Register</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>