<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: WebContent/content/fragments
 * File: admin_nav.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Provides small navigation sidebar that appears only for system administration.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jan 01, 2017, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head></head>
<body>
    <div class="admin-sidebar" th:fragment="admin_sidebar" data-ng-controller="AdminSidebarNav">
        <ul class="nav nav-sidebar">
            <li sec:authorize="${hasRole('ROLE_ADMIN')}"><a th:href="@{/Admin/SystemMaintenance}" th:title="#{admin.system_maintenance.title}"><span th:text="#{admin.nav_sidebar.system_settings}"></span> <span class="material-icons">settings</span></a></li>
            <li sec:authorize="${hasRole('ROLE_ADMIN')}"><a th:href="@{/Admin/EmployeeMaintenance}" th:title="#{admin.user_maintenance.title}"><span th:text="#{admin.nav_sidebar.employee_maintenance}"></span> <span class="material-icons">supervisor_account</span></a></li>
            <li sec:authorize="${hasRole('ROLE_LIBRARY_MANAGEMENT')}"><a th:href="@{/Admin/BranchMaintenance}" th:title="#{admin.branch_maintenance.title}"><span th:text="#{admin.nav_sidebar.branch_maintenance}"></span> <span class="material-icons">account_balance</span></a></li>
            <li sec:authorize="${hasRole('ROLE_LIBRARY_MANAGEMENT')}"><a th:href="@{/Admin/ShelvingMaintenance}" th:title="#{admin.shelving_maintenance.title}"><span th:text="#{admin.nav_sidebar.shelving_maintenance}"></span> <span class="material-icons">location_on</span></a></li>
            <li sec:authorize="${hasRole('ROLE_WEB_MAINTENANCE')}"><a th:href="@{/Admin/WebDocumentMaintenance}" th:title="#{admin.nav_sidebar.web_documents}"><span th:text="#{admin.nav_sidebar.web_documents}"></span> <span class="material-icons">code</span></a></li>
            <li sec:authorize="${hasRole('ROLE_WEB_MAINTENANCE')}"><a th:href="@{/Admin/ResourceMaintenance}" th:title="#{admin.nav_sidebar.resources}"><span th:text="#{admin.nav_sidebar.resources}"></span> <span class="material-icons">collections</span></a></li>
        </ul>
    </div>
</body>
</html>