<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/fragments
 * File: common_html_head.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * To provide a common block of content to be included in every web page's <head></head> section.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jun 8, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head" th:remove="tag">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />
        
        <link rel="stylesheet" type="text/css" th:href="@{/packages/bootstrap-3.3.6-dist/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/ng-table/1.0.0-beta.9/ng-table.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/angular-ui-select/0.17.1/select.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-overrides.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/ripple.css}" />
        
        <script type="text/javascript" th:src="@{/webjars/requirejs/2.2.0/require.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/util.js}"></script>
        
        <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
            var isSecured = window.location.protocol == 'https:';
            
            window.AppRoot = /*[[@{/}]]*/'/'; // Have Thymeleaf provide our application root
            window.StompEndpoint = ((isSecured) ? 'wss://' : 'ws://') + window.location.host + AppRoot + 'aether-stompjs';
            window.CurrentUser = /*[[${currentUser}]]*/null;
            window.DateFormat = /*[[#{formats.date_format}]]*/'MM/dd/yyyy';
            window.DateTimeFormat = /*[[#{formats.date_time_format}]]*/'MM/dd/yyyy HH:mm:ss';
        //]]>
        </script>
        
        <!-- This allows the optional inclusion of JavaScript to be executed before the bootstrapping of the document. -->
        <script type="text/javascript" th:inline="javascript" th:include="~{this :: include_script} ?: ~{}"></script>
        
        <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
            require( [ AppRoot + "js/main.js" ], function() {
                require( [ "js/AetherApp", "js/controllers/NavSidebarController", "bootstrap", "underscore" ], function(AetherApp) {
                    console.log("Bootstrapping document...");
                    
                    var pageRequire = /*[[${pageRequire} ?: null]]*/null;
                    if( _.isNull(pageRequire) ) {
                        bootstrapDocument();
                    }
                    else {
                        if( !_.isArray( pageRequire ) ) {
                            require( [ pageRequire ], function() {
                                bootstrapDocument();
                            });
                        }
                        else {
                            require( pageRequire, function() {
                                bootstrapDocument();
                            });
                        }
                    }
                    
                    function bootstrapDocument() {
                        angular.element(document).ready(function() {
                            angular.bootstrap(document, ['AetherApp']);
                        });
                    }
                });
            });
        //]]>
        </script>
    </head>
<body>
    
</body>
</html>