<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: WebContent/content/fragments
 * File: headers.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Provides various headers for use in the application.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jun 6, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head></head>
<body>
    <nav class="navbar navbar-blue navbar-fixed-top" th:fragment="authentication_header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/Resources/custom_logo.png}" th:if="${isCustomLogo}" />
                    <img th:src="@{/images/Logo.png}" th:if="${!isCustomLogo}" />
                    <span th:text="${systemTitle}"></span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
    
    <nav class="navbar navbar-blue navbar-fixed-top" th:fragment="main_header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/Resources/custom_logo.png}" th:if="${isCustomLogo}" />
                    <img th:src="@{/images/Logo.png}" th:if="${!isCustomLogo}" />
                    <span th:text="${systemTitle}"></span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right mobile-only">
                    <li><a href="#" th:text="#{global.nav_sidebar.patrons}">Patrons</a></li>
                    <li><a href="#" th:text="#{global.nav_sidebar.circulation}">Circulation</a></li>
                    <li><a href="#" th:text="#{global.nav_sidebar.catalogue}">Catalogue</a></li>
                    <li><a href="#" th:text="#{global.nav_sidebar.search}">Search</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/All/UserProfile}" th:text="#{global.header.profile}">Profile</a></li>
                    <li><a th:href="@{/Help}" th:text="#{global.header.help}">Help</a></li>
                    <li><a th:href="@{/Logout}" th:text="#{global.header.logout}">Logout</a>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control search-textbox" th:placeholder="#{global.header.search}" th:disabled="${!isSearchable}" />
                        <div class="input-group-btn">
                            <button class="btn btn-lt-blue dropdown-toggle bordered" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:title="#{global.header.search}" th:disabled="${!isSearchable}">
                                <span class="material-icons md-18">search</span>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" th:text="#{global.header.search_resources}">Search Resources</a></li>
                                <li><a href="#" th:text="#{global.header.search_patrons}">Search Patrons</a></li>
                                <li class="divider"></li>
                                <li><a href="#" th:text="#{global.header.advanced_search}">Advanced Search...</a>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</body>
</html>