<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: WebContent/content/fragments
 * File: sidebarnavs.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Provides various sidebar navigations for use in the application.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jun 6, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head></head>
<body>
    <div class="sidebar" th:fragment="employee_sidebar" data-ng-controller="NavSidebar">
        <ul class="nav nav-sidebar">
            <li class="swap"><a href="#" th:title="#{global.nav_sidebar.title}"><span th:text="#{global.nav_sidebar.title}"></span> <span class="material-icons">swap_horiz</span></a></li>
            <li><a th:href="@{/Librarian/PatronMaintenance}" th:title="#{global.nav_sidebar.patrons}"><span th:text="#{global.nav_sidebar.patrons}"></span> <span class="material-icons">people</span></a></li>
            <li><a href="#" th:title="#{global.nav_sidebar.circulation}"><span th:text="#{global.nav_sidebar.circulation}"></span> <span class="material-icons">shopping_cart</span></a></li>
            <li><a th:href="@{/Librarian/CatalogueMaintenance}" th:title="#{global.nav_sidebar.catalogue}"><span th:text="#{global.nav_sidebar.catalogue}"></span> <span class="material-icons">folder</span></a></li>
            <li><a href="#" th:title="#{global.nav_sidebar.search}"><span th:text="#{global.nav_sidebar.search}"></span> <span class="material-icons">search</span></a></li>
            <li><a th:href="@{/Wiki/wiki_home}" th:title="#{global.nav_sidebar.wiki}"><span th:text="#{global.nav_sidebar.wiki}"></span> <span class="material-icons">code</span></a></li>
        </ul>
        <ul class="nav nav-sidebar bottom">
            <li sec:authorize="${hasAnyRole('ROLE_ADMIN,ROLE_LIBRARIAN')}"><a th:href="@{/Admin}" th:title="#{global.nav_sidebar.admin}"><span th:text="#{global.nav_sidebar.admin}"></span> <span class="material-icons">settings</span></a></li>
        </ul>
    </div>
</body>
</html>