<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/All
 * File: UserProfile.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Constructs the user Profile page.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Dec 21, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire='js/controllers/All/UserProfile/UserProfileController')">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var user = /*[[${user}]]*/null;
            var branches = /*[[${branches}]]*/null;
                
            Utility.putPageSessionItem( "UserProfile", "user", user );
            Utility.putPageSessionItem( "UserProfile", "branches", branches );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="UserProfile">
                
                <form name="userProfileForm" id="userProfileForm" class="form-horizontal col-md-8" th:object="${user}">
                    
                    <div th:replace="fragments/message_containers :: messages" />
                    
                    <input type="hidden" th:field="*{id}" />
                    
                    <div class="panel panel-default">
                        <div class="row padding-10">
                            <div class="col-xs-6 line-height-2">
                                <span class="padding-5"><strong th:text="#{all.user_profile.title}"></strong></span>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-sm btn-default" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> <span>Save</span></button>
                                <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 text-right">
                        <span class="text-danger bg-danger padding-5 border-rad-4"><strong>* = Required</strong></span>
                    </div>
                    
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">person</span> <span th:text="#{all.user_profile.personal}"></span>
                            </uib-tab-heading>
                            
                            <div class="form-group">
                                <label for="userName" class="col-sm-3 control-label" th:text="#{models.user.user_name}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{userName}" class="form-control" maxlength="100" readonly />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label required" th:text="#{models.user.first_name}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{firstName}" ng-model="model.user.firstName" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="middleInitial" class="col-sm-3 control-label" th:text="#{models.user.middle_initial}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{middleInitial}" ng-model="model.user.middleInitial" class="form-control" maxlength="1" style="max-width: 2.75em;" />
                                </div> 
                            </div>
                            
                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label required" th:text="#{models.user.last_name}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{lastName}" ng-model="model.user.lastName" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label required" th:text="#{models.user.email}"></label>
                                <div class="col-sm-9">
                                    <input type="email" th:field="*{email}" ng-model="model.user.email" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="email2" class="col-sm-3 control-label" th:text="#{models.user.email2}"></label>
                                <div class="col-sm-9">
                                    <input type="email" th:field="*{email2}" ng-model="model.user.email2" class="form-control" maxlength="100" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label required" th:text="#{models.user.phone}"></label>
                                <div class="col-sm-9">
                                    <input type="tel" th:field="*{phone}" ng-model="model.user.phone" class="form-control" maxlength="100" th:attr="ui-mask=#{masks.telephone}" ui-mask-placeholder ui-mask-placeholder-char="_" required="required" style="max-width: 12em;"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="phone2" class="col-sm-3 control-label" th:text="#{models.user.phone2}"></label>
                                <div class="col-sm-9">
                                    <input type="tel" th:field="*{phone2}" ng-model="model.user.phone2" class="form-control" maxlength="100" th:attr="ui-mask=#{masks.telephone}" ui-mask-placeholder ui-mask-placeholder-char="_" style="max-width: 12em;"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="addressLine1" class="col-sm-3 control-label required" th:text="#{models.user.address}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{addressLine1}" ng-model="model.user.addressLine1" class="form-control" maxlength="100" required="required" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" />
                                    <input type="text" th:field="*{addressLine2}" ng-model="model.user.addressLine2" class="form-control" maxlength="100" style="border-top-left-radius: 0px; border-top-right-radius: 0px;" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="city" class="col-sm-3 control-label required" th:text="#{models.user.city}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{city}" ng-model="model.user.city" class="form-control" maxlength="50" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="state" class="col-sm-3 control-label required" th:text="#{models.user.state}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{state}" ng-model="model.user.state" class="form-control" maxlength="50" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="zip" class="col-sm-3 control-label required" th:text="#{models.user.zip}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{zip}" ng-model="model.user.zip" class="form-control" maxlength="10" required="required" style="max-width: 12em;" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="country" class="col-sm-3 control-label required" th:text="#{models.user.country}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{country}" ng-model="model.user.country" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="dob" class="col-sm-3 control-label required" th:text="#{models.user.dob}"></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" th:field="*{dob}" class="form-control" ng-model="model.user.dob" uib-datepicker-popup is-open="model.dobIsOpen" required="required" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="model.dobIsOpen = true"><span class="glyphicon glyphicon-calendar"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">local_library</span>  <span th:text="#{all.user_profile.library}"></span>
                            </uib-tab-heading>
                            
                            <div class="form-group">
                                <label for="branch" class="col-sm-3 control-label required" th:text="#{models.user.branch}"></label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="model.user.branch"
                                               theme="bootstrap"
                                               reset-search-input="true"
                                               style="width: 100%;"
                                               title="Choose a branch"
                                               search-enabled="false">
                                        <ui-select-match placeholder="Choose a branch...">{{$select.selected.branchName}}</ui-select-match>
                                        <ui-select-choices repeat="branch in model.branches track by branch.id">
                                            <p>
                                                <strong>{{branch.branchName}}</strong><br/>
                                                <small>{{branch.addressLine1}}</small>
                                                <small ng-hide="branch.addressLine2 == null || branch.addressLine2.length < 1">{{branch.addressLine2}}</small>
                                                <small>{{branch.city}}, {{branch.state}} {{branch.zip}}</small>
                                            </p>
                                        </ui-select-choices>
                                  </ui-select>
                                </div>
                            </div>
                        </uib-tab>
                        
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">lock</span>  <span th:text="#{all.user_profile.security}"></span>
                            </uib-tab-heading>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label" th:text="#{all.user_profile.change_password}"></label>
                                <div class="col-sm-9">
                                    <input type="checkbox" id="cbChangePassword" ng-model="model.isChangePassword" class="mod" /><label for="cbChangePassword"></label>
                                </div>
                            </div>
                            
                            <ng-password ng-model="model.user.password" enabled="model.isChangePassword" password-id="password" confirm-password-id="confirmPassword" />
                        </uib-tab>
                    </uib-tabset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>