<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Wiki
 * File: Document.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Displays the contents of a Wiki Document.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jan 02, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${document.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head"></th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20">
                <div class="row" sec:authorize="${hasAnyRole('ROLE_ADMIN,ROLE_LIBRARIAN')}">
                    <div class="col-md-offset-1 col-md-10 text-right padding-bottom-5 margin-bottom-5">
                        <a th:href="@{/Admin/WebDocumentMaintenance/Edit/{documentId}(documentId=${document.id},return=@{/Wiki/{friendlyUrl}(friendlyUrl=${document.friendlyUrl})})}" class="btn btn-sm btn-default">
                            <span class="material-icons md-18">edit</span>
                            <span th:text="#{messages.edit}">Edit</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10" th:utext="${document.content}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>