<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Wiki
 * File: DocumentNotFound.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Informs the user that the requested wiki document could not be located.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jan 02, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{messages.surprise}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head"></th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20">
                <div th:replace="fragments/message_containers :: messages" />
                
                <div class="row">
                    <div class="col-md-offset-4 col-md-3">
                        <h1 style="text-align: center; color: #ff5900; font-weight: bold; font-size: 50px;" th:text="#{messages.surprise}">Uh Oh!</h1>
                        <h1 style="text-align: center; font-weight: bold; font-size: 100px;">404</h1>
                        <h2 style="text-align: center; color: #1695A3;" th:text="#{wiki.document_not_found}">The web document you have requested could not be found.</h2>
                        <p style="text-align: center;" class="margin-top-40">
                            <a th:href="@{/Wiki/wiki_home}" class="btn btn-primary btn-lg btn-block"><span class="material-icons">arrow_back</span> <span th:text="#{wiki.home_page}"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>