<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Librarian/CatalogueMaintenance
 * File: Add.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Add a bibliographic entry to the catalogue.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Sep 16, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{librarian.catalogue_maintenance.add.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire='js/controllers/Librarian/CatalogueMaintenance/CatalogueMaintenanceAddController')">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var patronCategories = /*[[${patronCategories}]]*/null;
            var itemType = /*[[${itemType}]]*/null;
            
            Utility.putPageSessionItem( "CatalogueMaintenanceAdd", "patronCategories", patronCategories );
            Utility.putPageSessionItem( "CatalogueMaintenanceAdd", "itemType", itemType );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="CatalogueMaintenanceAdd">
                
                <div th:replace="fragments/message_containers :: messages" />
                
                <form name="catalogueAddForm" id="catalogueAddForm" class="form-horizontal col-md-8" th:object="${biblio}">
                    <input type="hidden" th:field="*{id}" />
                    
                    <div class="panel panel-default">
                        <div class="row padding-10">
                            <div class="col-xs-3 line-height-2">
                                <span class="padding-5"><strong th:text="#{librarian.catalogue_maintenance.add.title} + ' (' + ${itemType.description} + ')'"></strong></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <button class="btn btn-sm btn-primary" ng-click="importRecord()"><span class="material-icons md-18" style="width: 18px;">import_exports</span> <span th:text="#{librarian.catalogue_maintenance.sru_import}"></span></button>
                                <div class="vertical-divider"></div>
                                <button class="btn btn-sm btn-default" ng-click="save()"><span class="glyphicon glyphicon-plus"></span> <span>Save</span></button>
                                <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <span class="text-danger bg-danger padding-5 border-rad-4"><strong>* = Required</strong></span>
                        </div>
                    </div>
                    
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">description</span> <span th:text="#{librarian.catalogue_maintenance.general}"></span>
                            </uib-tab-heading>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('title').visible}">
                                <label for="title" class="col-sm-3 control-label required" th:text="${itemTypeLabels.get('title').name}" th:title="${itemTypeLabels.get('title').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{title}" ng-model="model.biblio.title" class="form-control" maxlength="65535" required="required" th:title="${itemTypeLabels.get('title').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('responsibility_statement').visible}">
                                <label for="responsibilityStatement" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('responsibility_statement').name}" th:title="${itemTypeLabels.get('responsibility_statement').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{responsibilityStatement}" ng-model="model.biblio.responsibilityStatement" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('responsibility_statement').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('physical_extent').visible}">
                                <label for="physicalExtent" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('physical_extent').name}" th:title="${itemTypeLabels.get('physical_extent').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{physicalExtent}" ng-model="model.biblio.physicalExtent" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('physical_extent').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('physical_other').visible}">
                                <label for="physicalOther" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('physical_other').name}" th:title="${itemTypeLabels.get('physical_other').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{physicalOther}" ng-model="model.biblio.physicalOther" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('physical_other').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('physical_dimensions').visible}">
                                <label for="physicalDimensions" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('physical_dimensions').name}" th:title="${itemTypeLabels.get('physical_dimensions').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{physicalDimensions}" ng-model="model.biblio.physicalDimensions" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('physical_dimensions').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('isbn').visible}">
                                <label for="isbn" class="col-sm-3 control-label required" th:text="${itemTypeLabels.get('isbn').name}" th:title="${itemTypeLabels.get('isbn').description}"></label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{isbn}" rows="4" ng-model="model.biblio.isbn" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('isbn').description}" required="required"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('issn').visible}">
                                <label for="issn" class="col-sm-3 control-label required" th:text="${itemTypeLabels.get('issn').name}" th:title="${itemTypeLabels.get('issn').description}"></label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{issn}" rows="4" ng-model="model.biblio.issn" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('issn').description}" required="required"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('ean').visible}">
                                <label for="ean" class="col-sm-3 control-label required" th:text="${itemTypeLabels.get('ean').name}" th:title="${itemTypeLabels.get('ean').description}"></label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{ean}" rows="4" ng-model="model.biblio.ean" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('ean').description}" required="required"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('record_type').visible}">
                                <label for="recordType" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('record_type').name}" th:title="${itemTypeLabels.get('record_type').description}"></label>
                                <div class="col-sm-9">
                                    <select th:field="*{recordType}" ng-model="model.biblio.recordType" class="form-control" th:title="${itemTypeLabels.get('record_type').description}">
                                        <option th:each="type : ${marcBiblioRecordTypes}" th:value="${type.key}" th:text="${type.value}"></option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('serial').visible}">
                                <label for="serial" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('serial').name}" th:title="${itemTypeLabels.get('serial').description}"></label>
                                <div class="col-sm-9">
                                    <input type="checkbox" th:field="*{serial}" ng-model="model.biblio.serial" class="form-control" th:title="${itemTypeLabels.get('serial').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('series_title').visible}">
                                <label for="seriesTitle" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('series_title').name}" th:title="${itemTypeLabels.get('series_title').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{seriesTitle}" ng-model="model.biblio.seriesTitle" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('series_title').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('series_issn').visible}">
                                <label for="seriesIssn" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('series_issn').name}" th:title="${itemTypeLabels.get('series_issn').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{seriesIssn}" ng-model="model.biblio.seriesIssn" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('series_issn').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('series_volume').visible}">
                                <label for="seriesVolume" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('series_volume').name}" th:title="${itemTypeLabels.get('series_volume').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{seriesVolume}" ng-model="model.biblio.seriesVolume" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('series_volume').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('volume_info').visible}">
                                <label for="volumeInformation" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('volume_info').name}" th:title="${itemTypeLabels.get('volume_info').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{volumeInformation}" ng-model="model.biblio.volumeInformation" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('volume_info').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('total_issues').visible}">
                                <label for="totalIssues" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('total_issues').name}" th:title="${itemTypeLabels.get('total_issues').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{totalIssues}" ng-model="model.biblio.totalIssues" class="form-control" th:title="${itemTypeLabels.get('total_issues').description}" readonly />
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">account_box</span> <span th:text="#{librarian.catalogue_maintenance.attributions}"></span>
                            </uib-tab-heading>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('author').visible}">
                                <label for="author" class="col-sm-3 control-label required" th:text="${itemTypeLabels.get('author').name}" th:title="${itemTypeLabels.get('author').description}"></label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{author}" rows="4" ng-model="model.biblio.author" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('author').description}" required="required"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('edition_statement').visible}">
                                <label for="editionStatement" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('edition_statement').name}" th:title="${itemTypeLabels.get('edition_statement').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{editionStatement}" ng-model="model.biblio.editionStatement" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('edition_statement').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('edition_responsibility').visible}">
                                <label for="editionResponsibility" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('edition_responsibility').name}" th:title="${itemTypeLabels.get('edition_responsibility').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{editionResponsibility}" ng-model="model.biblio.editionResponsibility" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('edition_responsibility').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('publication_year').visible}">
                                <label for="publicationYear" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('publication_year').name}" th:title="${itemTypeLabels.get('publication_year').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{publicationYear}" ng-model="model.biblio.publicationYear" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('publication_year').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('publisher_name').visible}">
                                <label for="publisherName" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('publisher_name').name}" th:title="${itemTypeLabels.get('publisher_name').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{publisherName}" ng-model="model.biblio.publisherName" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('publisher_name').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('url').visible}">
                                <label for="url" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('url').name}" th:title="${itemTypeLabels.get('url').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{url}" ng-model="model.biblio.url" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('url').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('copyright_date').visible}">
                                <label for="copyrightDate" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('copyright_date').name}" th:title="${itemTypeLabels.get('copyright_date').description}"></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" th:field="*{copyrightDate}" class="form-control" ng-model="model.biblio.copyrightDate" uib-datepicker-popup is-open="model.copyrightDateIsOpen" th:title="${itemTypeLabels.get('copyright_date').description}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="model.copyrightDateIsOpen = true"><span class="glyphicon glyphicon-calendar"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">bookmark</span> <span th:text="#{librarian.catalogue_maintenance.classification}"></span>
                            </uib-tab-heading>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('dewey_decimal').visible}">
                                <label for="deweyDecimal" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('dewey_decimal').name}" th:title="${itemTypeLabels.get('dewey_decimal').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{deweyDecimal}" ng-model="model.biblio.deweyDecimal" class="form-control" maxlength="7" th:title="${itemTypeLabels.get('dewey_decimal').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('target_audience').visible}">
                                <label for="targetAudience" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('target_audience').name}" th:title="${itemTypeLabels.get('target_audience').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{targetAudience}" ng-model="model.biblio.targetAudience" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('target_audience').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('subjects').visible}">
                                <label for="subjects" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('subjects').name}" th:title="${itemTypeLabels.get('subjects').description}"></label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{subjects}" rows="4" ng-model="model.biblio.subjects" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('subjects').description}"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('call_number').visible}">
                                <label for="callNumber" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('call_number').name}" th:title="${itemTypeLabels.get('call_number').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{callNumber}" ng-model="model.biblio.callNumber" class="form-control" maxlength="100" th:title="${itemTypeLabels.get('call_number').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('lccn').visible}">
                                <label for="lccn" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('lccn').name}" th:title="${itemTypeLabels.get('lccn').description}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{lccn}" ng-model="model.biblio.lccn" class="form-control" maxlength="25" th:title="${itemTypeLabels.get('lccn').description}" />
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('abstract').visible}">
                                <label for="abstractText" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('abstract').name}" th:title="${itemTypeLabels.get('abstract').description}"></label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{abstractText}" rows="4" ng-model="model.biblio.abstractText" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('abstract').description}"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group" th:if="${itemTypeFields.get('notes').visible}">
                                <label for="notes" class="col-sm-3 control-label" th:text="${itemTypeLabels.get('notes').name}" th:title="${itemTypeLabels.get('notes').description}"></label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{notes}" rows="4" ng-model="model.biblio.notes" class="form-control" maxlength="65535" th:title="${itemTypeLabels.get('notes').description}"></textarea>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>