<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Librarian/Catalogue
 * File: Index.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Catalogue homee screen.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jul 29, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{librarian.catalogue_maintenance.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire='js/controllers/Librarian/CatalogueMaintenance/CatalogueMaintenanceIndexController')">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var recordTypeIconsMap = /*[[${marcBiblioRecordTypeIcons}]]*/null;
            var recordTypeLabelsMap = /*[[${marcBiblioRecordTypeLabels}]]*/null;
            Utility.putPageSessionItem( "CatalogueMaintenanceIndex", "recordTypeIconsMap", recordTypeIconsMap );
            Utility.putPageSessionItem( "CatalogueMaintenanceIndex", "recordTypeLabelsMap", recordTypeLabelsMap );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="CatalogueMaintenanceIndex">
                <div th:replace="fragments/message_containers :: messages" />
                
                <div class="margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon" th:text="#{librarian.catalogue_maintenance.search}">> 
                            Search
                        </span>
                        <span style="padding: 0px; border: 0px; background: none; width: 15%;" class="input-group-addon"> 
                            <select id="field" class="form-control" ng-model="model.query.field" th:disabled="${!isSearchable}">
                                <option th:each="f : ${indexFields}" th:value="${f}" th:text="#{${'models.index_field.' + f.fieldId}}" />
                            </select>
                        </span>
                        <input type="text" id="query" class="form-control" ng-model="model.query.query" th:placeholder="#{librarian.catalogue_maintenance.search_catalogue}" ng-keypress="searchOnEnter($event)" th:disabled="${!isSearchable}" autofocus />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-lt-blue" th:title="#{librarian.catalogue_maintenance.search}" ng-click="executeQuery()" th:disabled="${!isSearchable}">
                                <span class="material-icons md-18">search</span>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="material-icons md-18">add_circle</span> <span th:text="#{librarian.catalogue_maintenance.add.title}"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li th:each="type : ${activeItemTypes}">
                                        <a th:href="@{/Librarian/CatalogueMaintenance/Add/{itemTypeId}(itemTypeId = ${type.id})}" th:text="${type.description}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-10" style="height: 30px;">
                    <div class="col-sm-6">
                        <span class="label label-primary">
                            <span ng-bind="model.firstRecord">0</span> - <span ng-bind="model.lastRecord">0</span> of <span ng-bind="model.totalResults">0</span>
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <div id="loadingIcon" style="float: right; display: none;">
                            <div style="width: 30px; height: 30px; float: right;">
                                <div class="uil-ripple-css" style="transform: scale(0.2) ;transform-origin: left top;"><div></div><div></div></div>
                            </div>
                            <div style="float: right; line-height: 2.2em;" th:text="#{messages.loading}">Loading...</div>
                        </div>
                    </div>
                </div>
                
                <table ng-table="model.tableParams" class="table table-condensed table-bordered table-striped table-hover">
                    <thead style="display: none;" />
                    <tbody>
                        <tr ng-repeat="row in $data" ng-if="$data.length > 0" ng-cloak>
                            <td data-title="''">
                                <div class="row" style="cursor: pointer;" ng-click="editBiblio(row)">
                                    <div class="col-sm-2 text-center">
                                        <span class="material-icons md-36" ng-bind="model.recordTypeIconsMap[row.recordType]"></span><br/>
                                        <span ng-bind="model.recordTypeLabelsMap[row.recordType]" style="font-size: 10px;"></span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-12" ng-if="row.primaryAuthor.length > 0"><span ng-bind="row.primaryAuthor"></span></div>
                                            <div class="col-sm-12" style="font-size: 16px;"><span ng-bind="row.fullTitleFormatted"></span></div>
                                            <div class="col-sm-12"><span ng-bind="row.publicationYearFormatted"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                        <tr ng-if="$data.length < 1">
                            <td>
                                <span th:text="#{messages.no_records_returned}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>