/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/css
 * File: auth-template.css
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Provides styles specifically for the Login, Log out, and Registration pages.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Apr 3, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
.authentication p {
    font-size: 16px;
    color: #333;
}

.authentication .container-fluid {
    height: 100%;
}

.authentication .splash-icons {
    font-size: 62px;
    color: #808080;
}

.authentication .row {
    padding-bottom: 20px;
}

.authentication .first-row {
    padding-top: 80px;
}

.authentication .container-credentials {
    margin-top: 20px;
    color: #fff;
    background-color: #213E4A;
    border-radius: 5px;
    border: 1px solid #213E4A;
}

.authentication .container-credentials .material-icons.login {
    color: #FF5900;
    font-size: 40px;
    vertical-align: bottom;
    line-height: 1em;
}

.authentication .container-credentials .divider {
    display: block;
    height: 1px;
    background-color: #D1D1D1;
    margin-top: 20px;
    margin-bottom: 20px;
}