/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: content/css
 * File: main.css
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Main CSS file for this project.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Mar 25, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
 
/*
 * Fonts
 */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic");

/*
 * Adjust Material Design Icons slightly.
 */
.material-icons {
    vertical-align: middle;
}

.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

 /*
  * Base structure
  */
html,
body {
  height: 100%;
  font-face: 'Open Sans', sans-serif;
  color: #333;
}

p {
    font-size: 14px;
    color: #333;
}

.centered {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.search-textbox {
    width: 150px;
}
@media (min-width: 992px) {
    .search-textbox {
        min-width: 250px;
    }
}

.transaction-listbox {
    flex-basis: 100%;
    height: 100%;
    margin: 20px;
    background-color: #e3e3e3;
    border: none;
}
@media (min-width: 768px) {
    .transaction-listbox {
        margin: 20px 20px 20px 40px;
    }
}

.transaction-list {
    flex: 1 1 100%;
}
.transaction-input {
    align-self: flex-start;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 24px;
    height: auto;
    flex: 0 0 auto;
}
.transaction-button {
    align-self: flex-end;
    width: 100%;
    font-size: 24px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: auto;
    flex: 0 0 auto;
}

.stat-panel {
    margin: 20px 40px 20px 20px;
    padding: 20px;
}

/*
 * Utility classes
 */
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }

.padding-top-5 { padding-top: 5px; }
.padding-top-10 { padding-top: 10px; }
.padding-top-20 { padding-top: 20px; }
.padding-top-30 { padding-top: 30px; }
.padding-top-40 { padding-top: 40px; }

.padding-bottom-5 { padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-20 { padding-bottom: 20px; }
.padding-bottom-30 { padding-bottom: 30px; }
.padding-bottom-40 { padding-bottom: 40px; }

.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }

.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 40px; }

.border-top { border-top: 1px solid #b0b4b4; }
.border-bottom { border-bottom: 1px solid #b0b4b4; }
.border-left { border-left: 1px solid #b0b4b4; }
.border-right { border-right: 1px solid #b0b4b4; }

.border-rad-4 { border-radius: 4px; }

.line-height-1-5 { line-height: 1.5em; }
.line-height-2 { line-height: 2em; }

LABEL.required {
    position: relative;
}
LABEL.required::after {
    content: '*';
    position: relative;
    top: 0px;
    right: 0px;
    color: #C9302C;
    font-weight: bold;
    padding-left: 5px;
}

/*
 * Form Control Mods
 */
input[type=checkbox].mod {
    display: none;
}
input[type=checkbox].mod + label {
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 1em;
}
input[type=checkbox].mod + label::after {
    content: 'check_box_outline_blank';
}
input[type=checkbox].mod:checked + label::after {
    content: 'check_box';
}

[ng-cloak] {
    display: none !important;
}

#messages-container {
    flex-grow: 0;
}

/*
 * Help Styling
 */
DIV.textbox-icon-overlay-right {
    position: relative;
    display: block;
}
DIV.textbox-icon-overlay-right > INPUT[type='text'] {
    width: 100%;
    height: 1.4em;
    padding-right: 1.3em;
}
DIV.textbox-icon-overlay-right > INPUT[type='text'] + SPAN {
    position: absolute;
    top: 0px;
    right: 0.3em;
    font-family: 'Material Icons';
}

/*
 * TinyMCE Overrides for Flex layout
 */
.mce-flex .mce-tinymce, .mce-flex .mce-stack-layout, .mce-flex .mce-edit-area{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.mce-flex .mce-tinymce iframe{
    flex: 1;
}
.mce-fullscreen {
    z-index: 10001 !important;
}