/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: content/css
 * File: template.css
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Provides styling for the main template.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Mar 25, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
@charset "UTF-8";

/*
 * Sidebar
 */
.sidebar {
    display: none;    
    z-index: 1000;
    padding: 0px 20px 0px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #e3e3e3;
    border-right: 1px solid #b0b4b4;
    
    position: fixed;
    top: 50px;
    bottom: 0px;
}
@media (min-width: 768px) {
    .sidebar {
        display: block;
        min-width: 200px;
    }
}
@media (min-width: 992px) {
    .sidebar {
        display: block;
        min-width: 250px;
    }
}

/* Sidebar navigation */
.sidebar > .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 0px;
    margin-left: -20px;
}
.sidebar > .nav-sidebar.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.sidebar > .nav-sidebar > li {
    overflow: visible;
}
.sidebar > .nav-sidebar > li > a {
    display: block;
    position: relative;
    
    padding-right: 20px;
    padding-left: 20px;
    
    font-family: 'Open Sans', san-serif;
    font-size: 16px;
    color: #1695a3;
}
.sidebar > .nav-sidebar > li > a:hover,
.sidebar > .nav-sidebar > li > a:active {
    color: #225378;
    background-color: #d1d1d1;
}
.sidebar > .nav-sidebar > li > a:hover::after,
.sidebar > .nav-sidebar > li > a:active::after {
    display: block;
    
    position: absolute;
    top: 0px;
    right: 0px;
    
    content: '';
    
    width: 6px;
    height: 100%;
    background-color: #225378;
}
.sidebar > .nav-sidebar > li > a .material-icons {
    position: absolute;
    vertical-align: middle;
    top: 25%;
    right: 15px;
}
.sidebar > .nav-sidebar > li.active > a {
    border-right: 6px solid #225378;
    padding-right: 14px;
}
.sidebar > .nav-sidebar > li.swap > a {
    padding-right: 20px;
    padding-left: 20px;
    
    font-size: 24px;
    background-color: #d1d1d1;
    color: #225378;
}

/*
 * Admin Sidebar
 */
.admin-sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0.5 250px;
    padding: 22px 20px 0px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #eee;
    border-right: 1px solid #b0b4b4;
}
.admin-sidebar > .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 0px;
    margin-left: -20px;
}
.admin-sidebar > .nav-sidebar > li {
    overflow: visible;
}
.admin-sidebar > .nav-sidebar > li > a {
    display: block;
    position: relative;
    
    padding-right: 20px;
    padding-left: 20px;
    
    font-family: 'Open Sans', san-serif;
    font-size: 16px;
    color: #337ab7;
}
.admin-sidebar > .nav-sidebar > li.active,
.admin-sidebar > .nav-sidebar > li > a:hover,
.admin-sidebar > .nav-sidebar > li > a:active {
    background-color: #ddd;
}
.admin-sidebar > .nav-sidebar > li > a .material-icons {
    position: absolute;
    vertical-align: middle;
    top: 25%;
    right: 15px;
}

/*
 * Main content
 */
.container-flex.main{
    height: 100%;
    max-height: 100%;
}
@media (min-width: 768px) {
    .container-flex.main.pre-collapsed .column-flex.main {
        margin-left: 55px;
    }
    .container-flex.main.pre-collapsed .sidebar {
        margin-left: -145px;
    }
    .container-flex.main.pre-expanded .column-flex.main {
        margin-left: 200px;
    }
    .container-flex.main.pre-expanded  .sidebar {
        margin-left: 0px;
    }
        
    .container-flex.main.collapsed .column-flex.main {
        animation-name: collapse-content;
        animation-duration: 0.5s;
        margin-left: 55px;
    }
    @keyframes collapse-content {
        from {
            margin-left: 200px;
        }
        to {
            margin-left: 55px;
        }
    }
    .container-flex.main.expanded .column-flex.main {
        animation-name: expand-content;
        animation-duration: 0.5s;
        margin-left: 200px;
    }
    @keyframes expand-content {
        from {
            margin-left: 55px;
        }
        to {
            margin-left: 200px;
        }
    }
    
    .container-flex.main.collapsed .sidebar {
        animation-name: collapse-sidebar;
        animation-duration: 0.5s;
        margin-left: -145px;
    }
    @keyframes collapse-sidebar {
        from {
            margin-left: 0px;
        }
        to {
            margin-left: -145px;
        }
    }
    .container-flex.main.expanded  .sidebar {
        animation-name: expand-sidebar;
        animation-duration: 0.5s;
        margin-left: 0px;
    }
    @keyframes expand-sidebar {
        from {
            margin-left: -145px; 
        }
        to {
            margin-left: 0px;
        }
    }
}
@media (min-width: 992px) {
    .container-flex.main.pre-collapsed .column-flex.main {
        margin-left: 55px;
    }
    .container-flex.main.pre-collapsed .sidebar {
        margin-left: -195px;
    }
    .container-flex.main.pre-expanded .column-flex.main {
        margin-left: 250px;
    }
    .container-flex.main.pre-expanded  .sidebar {
        margin-left: 0px;
    }
    
    .container-flex.main.collapsed .column-flex.main {
        animation-name: collapse-content;
        animation-duration: 0.5s;
        margin-left: 55px;
    }
    @keyframes collapse-content {
        from {
            margin-left: 250px;
        }
        to {
            margin-left: 55px;
        }
    }
    .container-flex.main.expanded .column-flex.main {
        animation-name: expand-content;
        animation-duration: 0.5s;
        margin-left: 250px;
    }
    @keyframes expand-content {
        from {
            margin-left: 55px;
        }
        to {
            margin-left: 250px;
        }
    }
    
    .container-flex.main.collapsed .sidebar {
        animation-name: collapse-sidebar;
        animation-duration: 0.5s;
        margin-left: -195px;
    }
    @keyframes collapse-sidebar {
        from {
            margin-left: 0px;
        }
        to {
            margin-left: -195px;
        }
    }
    .container-flex.main.expanded .sidebar {
        animation-name: expand-sidebar;
        animation-duration: 0.5s;
        margin-left: 0px;
    }
    @keyframes expand-sidebar {
        from {
            margin-left: -195px; 
        }
        to {
            margin-left: 0px;
        }
    }
}

.row-flex.main {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.column-flex.main {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    height: 100%;
    max-height: 100%;
}
@media (min-width: 768px) {
    .column-flex.main {
        flex-basis: 75%;
        margin-left: 200px;
    }
}
@media (min-width: 992px) {
    .column-flex.main {
        flex-basis: 83.33333333% !important;
        margin-left: 250px;
    }
}

.column-flex.primary-content {
    flex-basis: 100%;
}
@media (min-width: 768px) {
    .column-flex.primary-content {
        flex-basis: 75%;
    }
}

.column-flex.secondary-content {
    display: none;
}
@media (min-width: 768px) {
    .column-flex.secondary-content {
        display: block;
        flex-basis: 25%;
    }
}

.main .page-header {
  margin-top: 0;
}

*[ng-view] {
    min-width: 100%;
}