<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Librarian/PatronMaintenance
 * File: Add.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Add Patron form.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jun 22, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{librarian.patron_maintenance.add.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire='js/controllers/Librarian/PatronMaintenance/PatronMaintenanceAddController')">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var user = /*[[${user}]]*/null;
            var branches = /*[[${branches}]]*/null;
            var statuses = /*[[${statuses}]]*/null;
            var patronCategories = /*[[${patronCategories}]]*/null;
            var sexes = /*[[${sexes}]]*/null;
            
            Utility.putPageSessionItem( "PatronMaintenanceAdd", "user", user );
            Utility.putPageSessionItem( "PatronMaintenanceAdd", "branches", branches );
            Utility.putPageSessionItem( "PatronMaintenanceAdd", "statuses", statuses );
            Utility.putPageSessionItem( "PatronMaintenanceEdit", "patronCategories", patronCategories );
            Utility.putPageSessionItem( "PatronMaintenanceEdit", "sexes", sexes );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="PatronMaintenanceAdd">
                
                <div th:replace="fragments/message_containers :: messages" />
                
                <form name="addPatronForm" id="addPatronForm" class="form-horizontal col-md-8" th:object="${user}">
                    <input type="hidden" th:field="*{id}" />
                    
                    <div class="panel panel-default">
                        <div class="row padding-10">
                            <div class="col-xs-6 line-height-2">
                                <span class="padding-5"><strong th:text="#{librarian.patron_maintenance.add.title}"></strong></span>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-sm btn-default" ng-click="save()"><span class="glyphicon glyphicon-plus"></span> <span>Save</span></button>
                                <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 text-right">
                        <span class="text-danger bg-danger padding-5 border-rad-4"><strong>* = Required</strong></span>
                    </div>
                    
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">person</span> <span th:text="#{librarian.patron_maintenance.personal}"></span>
                            </uib-tab-heading>
                            
                            <div class="form-group">
                                <label for="userName" class="col-sm-3 control-label required" th:text="#{models.user.user_name}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{userName}" ng-model="model.patron.userName" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label required" th:text="#{models.user.first_name}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{firstName}" ng-model="model.patron.firstName" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="middleInitial" class="col-sm-3 control-label" th:text="#{models.user.middle_initial}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{middleInitial}" ng-model="model.patron.middleInitial" class="form-control" maxlength="1" style="max-width: 2.75em;" />
                                </div> 
                            </div>
                            
                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label required" th:text="#{models.user.last_name}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{lastName}" ng-model="model.patron.lastName" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="sex" class="col-sm-3 control-label required" th:text="#{models.patron.sex}"></label>
                                <div class="col-sm-9">
                                    <select th:field="*{sex}"
                                            ng-model="model.patron.sex"
                                            ng-options="s for s in model.sexes"
                                            class="form-control"></select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label required" th:text="#{models.user.email}"></label>
                                <div class="col-sm-9">
                                    <input type="email" th:field="*{email}" ng-model="model.patron.email" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="email2" class="col-sm-3 control-label" th:text="#{models.user.email2}"></label>
                                <div class="col-sm-9">
                                    <input type="email" th:field="*{email2}" ng-model="model.patron.email2" class="form-control" maxlength="100" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label required" th:text="#{models.user.phone}"></label>
                                <div class="col-sm-9">
                                    <input type="tel" th:field="*{phone}" ng-model="model.patron.phone" class="form-control" maxlength="100" th:attr="ui-mask=#{masks.telephone}" ui-mask-placeholder ui-mask-placeholder-char="_" required="required" style="max-width: 12em;"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="phone2" class="col-sm-3 control-label" th:text="#{models.user.phone2}"></label>
                                <div class="col-sm-9">
                                    <input type="tel" th:field="*{phone2}" ng-model="model.patron.phone2" class="form-control" maxlength="100" th:attr="ui-mask=#{masks.telephone}" ui-mask-placeholder ui-mask-placeholder-char="_" style="max-width: 12em;"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="addressLine1" class="col-sm-3 control-label required" th:text="#{models.user.address}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{addressLine1}" ng-model="model.patron.addressLine1" class="form-control" maxlength="100" required="required" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" />
                                    <input type="text" th:field="*{addressLine2}" ng-model="model.patron.addressLine2" class="form-control" maxlength="100" style="border-top-left-radius: 0px; border-top-right-radius: 0px;" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="city" class="col-sm-3 control-label required" th:text="#{models.user.city}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{city}" ng-model="model.patron.city" class="form-control" maxlength="50" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="state" class="col-sm-3 control-label required" th:text="#{models.user.state}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{state}" ng-model="model.patron.state" class="form-control" maxlength="50" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="zip" class="col-sm-3 control-label required" th:text="#{models.user.zip}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{zip}" ng-model="model.patron.zip" class="form-control" maxlength="10" required="required" style="max-width: 12em;" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="country" class="col-sm-3 control-label required" th:text="#{models.user.country}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{country}" ng-model="model.patron.country" class="form-control" maxlength="100" required="required" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="dob" class="col-sm-3 control-label required" th:text="#{models.user.dob}"></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" th:field="*{dob}" class="form-control" ng-model="model.patron.dob" uib-datepicker-popup is-open="model.dobIsOpen" required="required" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="model.dobIsOpen = true"><span class="glyphicon glyphicon-calendar"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">local_library</span>  <span th:text="#{librarian.patron_maintenance.library}"></span>
                            </uib-tab-heading>
                            
                            <div class="form-group">
                                <label for="branch" class="col-sm-3 control-label required" th:text="#{models.user.branch}"></label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="model.patron.branch"
                                               theme="bootstrap"
                                               reset-search-input="true"
                                               style="width: 100%;"
                                               title="Choose a branch"
                                               search-enabled="false">
                                        <ui-select-match placeholder="Choose a branch...">{{$select.selected.branchName}}</ui-select-match>
                                        <ui-select-choices repeat="branch in model.branches track by branch.id">
                                            <p>
                                                <strong>{{branch.branchName}}</strong><br/>
                                                <small>{{branch.addressLine1}}</small>
                                                <small ng-hide="branch.addressLine2 == null || branch.addressLine2.length < 1">{{branch.addressLine2}}</small>
                                                <small>{{branch.city}}, {{branch.state}} {{branch.zip}}</small>
                                            </p>
                                        </ui-select-choices>
                                  </ui-select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="status" class="col-sm-3 control-label required" th:text="#{models.user.status}"></label>
                                <div class="col-sm-9">
                                    <select th:field="*{status}"
                                            ng-model="model.patron.status"
                                            ng-options="s for s in model.statuses | orderBy: 'toString()'"
                                            class="form-control"></select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="cardNumber" class="col-sm-3 control-label" th:text="#{models.patron.card_number}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{cardNumber}" ng-model="model.patron.cardNumber" class="form-control" maxlength="50" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="patronCategory" class="col-sm-3 control-label required" th:text="#{models.patron.patron_category}"></label>
                                <div class="col-sm-9">
                                    <select th:field="*{patronCategory}"
                                            ng-model="model.patron.patronCategory"
                                            ng-options="c.categoryName for c in model.patronCategories | orderBy: 'categoryName' track by c.id"
                                            class="form-control"></select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="expiryDate" class="col-sm-3 control-label" th:text="#{models.patron.expiry_date}"></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" th:field="*{expiryDate}" class="form-control" ng-model="model.patron.expiryDate" uib-datepicker-popup is-open="model.expiryDateIsOpen" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="model.expiryDateIsOpen = true" th:title="#{librarian.patron_maintenance.choose_expiry_date}" th:attr="aria-label=#{librarian.patron_maintenance.choose_expiry_date}"><span class="glyphicon glyphicon-calendar"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="guarantor" class="col-sm-3 control-label" th:text="#{models.patron.guarantor}"></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" th:field="*{guarantor.formalName}" class="form-control" ng-model="model.patron.guarantor.formalName" readonly />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="model.patron.guarantor = null" th:title="#{librarian.patron_maintenance.clear_guarantor_selection}" th:attr="aria-label=#{librarian.patron_maintenance.clear_guarantor_selection}"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                            <button type="button" class="btn btn-default" ng-click="findGuarantor()" th:title="#{librarian.patron_maintenance.select_guarantor}" th:attr="aria-label=#{librarian.patron_maintenance.select_guarantor}"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="guarantorRelationship" class="col-sm-3 control-label" th:text="#{models.patron.guarantor_relationship}"></label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{guarantorRelationship}" ng-model="model.patron.guarantorRelationship" class="form-control" maxlength="100" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label" th:text="#{models.patron.debarred}" for="debarred"></label>
                                <div class="col-sm-9">
                                    <input type="checkbox" id="debarred" name="debarred" ng-model="model.patron.debarred" class="mod" /><label for="debarred"></label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="notes" class="col-sm-3 control-label" th:text="#{models.patron.notes}"></label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{notes}" rows="5" ng-model="model.patron.notes" class="form-control" maxlength="16777215"></textarea>
                                </div>
                            </div>
                        </uib-tab>
                        
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="material-icons md-18">lock</span>  <span th:text="#{librarian.patron_maintenance.security}"></span>
                            </uib-tab-heading>
                            
                            <ng-password ng-model="model.patron.password" enabled="true" password-id="password" confirm-password-id="confirmPassword" />
                        </uib-tab>
                    </uib-tabset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>