<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Librarian/PatronMaintenance
 * File: Index.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Patron Maintenance list screen.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jul 29, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{librarian.patron_maintenance.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire='js/controllers/Librarian/PatronMaintenance/PatronMaintenanceIndexController')">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var patrons = /*[[${patrons}]]*/null;
            Utility.putPageSessionItem( "PatronMaintenanceIndex", "patrons", patrons );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: main_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="PatronMaintenanceIndex">
                
                <div th:replace="fragments/message_containers :: messages" />
                
                <div class="panel panel-default">
                    <div class="row padding-10">
                        <div class="col-xs-6 line-height-2">
                            <span class="padding-5"><strong th:text="#{librarian.patron_maintenance.title}"></strong></span>
                        </div>
                        <div class="col-xs-6 text-right" style="position: relative;">
                            <div id="loadingIcon" class='uil-ripple-css' style='display: none; transform: scale(0.2); transform-origin: left top; position: absolute; right: -20px; top: -5px;'><div></div><div></div></div>
                            <a th:href="@{/Librarian/PatronMaintenance/Add}" class="btn btn-sm btn-primary"><span class="material-icons md-18">person_add</span> <span th:text="#{librarian.patron_maintenance.add.title}"></span></a>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-10">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-3">
                            <label for="patronSearchCardNumber" th:text="#{models.patron.card_number}"></label>
                            <input type="text" class="form-control" id="patronCardNumber" ng-model="model.query.cardNumber" autofocus="autofocus" />
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="patronSearchLastName" th:text="#{models.user.last_name}"></label>
                            <input type="text" class="form-control" id="patronSearchLastName" ng-model="model.query.lastName" />
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="patronSearchFirstName" th:text="#{models.user.first_name}"></label>
                            <input type="text" class="form-control" id="patronSearchFirstName" ng-model="model.query.firstName" />
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="patronSearchUserName" th:text="#{models.user.user_name}"></label>
                            <input type="text" class="form-control" id="patronSearchUserName" ng-model="model.query.userName" />
                        </div>
                    </div>
                </div>
                
                <table ng-table="model.tableParams" class="table table-condensed table-bordered table-striped table-hover">
                    <tr ng-repeat="row in $data" ng-click="editPatron(row)" style="cursor: pointer;" ng-cloak>
                        <td th:attr="data-title='\'' + #{models.user.last_name} + '\''" sortable="'lastName'" ng-bind="row.lastName"></td>
                        <td th:attr="data-title='\'' + #{models.user.first_name} + '\''" sortable="'firstName'" ng-bind="row.firstName"></td>
                        <td th:attr="data-title='\'' + #{models.user.user_name} + '\''" sortable="'userName'" ng-bind="row.userName"></td>
                        <td th:attr="data-title='\'' + #{models.user.status} + '\''" sortable="'status'" style="text-align: center; cursor: default;">
                            <span ng-show="row.status == 'ACTIVE'"><span class="material-icons" title="ACTIVE">check_circle</span></span>
                            <span ng-show="row.status == 'INACTIVE'"><span class="material-icons" title="INACTIVE">cancel</span></span>
                            <span ng-show="row.status == 'PENDING'"><span class="material-icons" title="PENDING">help</span></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>