<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Admin/ResourceMaintenance
 * File: Index.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Index page for Resource Maintenance. Lists all files stored in the resources directory.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jan 10, 2017, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.resource_maintenance.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire=${ new String[]{ 'js/controllers/Admin/ResourceMaintenance/ResourceMaintenanceIndexController', 'js/controllers/AdminSidebarNavController' } })">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var resources = /*[[${resources}]]*/null;
            var deleteButtonLabel = /*[[#{messages.delete}]]*/null;
            var cancelButtonLabel = /*[[#{messages.cancel}]]*/null;
            var confirmModalTitle = /*[[#{messages.confirm}]]*/null;
            var confirmModalMessage = /*[[#{admin.resource_maintenance.confirm_delete}]]*/null;
            Utility.putPageSessionItem( "ResourceMaintenanceIndex", "resources", resources);
            Utility.putPageSessionItem( "ResourceMaintenanceIndex", "deleteButtonLabel", deleteButtonLabel );
            Utility.putPageSessionItem( "ResourceMaintenanceIndex", "cancelButtonLabel", cancelButtonLabel );
            Utility.putPageSessionItem( "ResourceMaintenanceIndex", "confirmModalTitle", confirmModalTitle );
            Utility.putPageSessionItem( "ResourceMaintenanceIndex", "confirmModalMessage", confirmModalMessage );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />
	
    <div th:replace="fragments/contentwrappers :: admin_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="ResourceMaintenanceIndex">
                
                <div th:replace="fragments/message_containers :: messages" />
                
                <div class="panel panel-default">
                    <div class="row padding-10">
                        <div class="col-xs-6 line-height-2">
                            <span class="padding-5"><strong th:text="#{admin.resource_maintenance.title}"></strong></span>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button class="btn btn-danger" ng-click="confirmDelete()"><span class="material-icons md-16">delete</span><span th:text="#{messages.delete}">Delete</span></button>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-10" style="height: 30px;">
                    <div class="col-sm-6">
                        <span class="label label-primary">
                            <span ng-bind="model.firstRecord">0</span> - <span ng-bind="model.lastRecord">0</span> of <span ng-bind="model.totalRecords">0</span>
                        </span>
                    </div>
                </div>
                
                <div  checkbox-list on-select-all="onSelectAll()" on-deselect-all="onDeselectAll()">
                    <table ng-table="model.tableParams" class="table table-condensed table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <input checkbox-list-selectall type="checkbox" id="selectAllResources" ng-checked="model.selectAll" ng-model="model.selectAll" class="mod" />
                                    <label for="selectAllResources" style="margin-bottom: 0px; vertical-align: middle;"></label>
                                </th>
                                <th th:text="#{admin.resource_maintenance.resources}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in $data" ng-if="$data.length > 0" ng-cloak>
                                <td style="text-align: center;">
                                    <input checkbox-list-item type="checkbox" id="resource{{$index}}" ng-checked="model.resources[$index + ((params.page() - 1) * params.count())].selected" ng-model="model.resources[$index + ((params.page() - 1) * params.count())].selected" class="mod" /><label for="resource{{$index}}"></label>
                                </td>
                                <td data-title="''">
                                    <div class="row">
                                        <div class="col-sm-2 text-center">
                                            <div ng-if="row.isImage" class="thumbnail" style="margin-bottom: 0px; max-width: 90px; max-height: 90px; margin-left: auto; margin-right: auto;">
                                                <img ng-src="{{ AppRoot + 'Resources/Thumbnails/' + row.name }}" style="max-width: 80px; max-height: 80px;" />
                                            </div>
                                            <div ng-if="!row.isImage" class="thumbnail" style="margin-bottom: 0px; max-width: 90px; max-height: 90px; margin-left: auto; margin-right: auto;">
                                                <span class="material-icons md-36">insert_drive_file</span>
                                            </div>
                                            <span ng-bind="row.fileExtension" style="font-size: 10px; text-transform: uppercase;"></span>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-12"><span style="font-weight: strong;" ng-bind="(row.length / 1048576).toFixed(3) + 'MB'"></span></div>
                                                <div class="col-sm-12" style="font-size: 16px; font-weight: bold;"><span ng-bind="row.name"></span></div>
                                                <div class="col-sm-12"><span th:text="|#{messages.last_updated}:|" style="font-weight: strong;"></span> <span ng-bind="row.lastUpdated | date:'medium'"></span></div>
                                                <div class="col-sm-12"><span th:text="|#{messages.date_created}:|" style="font-weight: strong;"></span> <span ng-bind="row.dateCreated | date:'medium'"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr ng-if="$data.length < 1">
                                <td colspan="2">
                                    <span th:text="#{messages.no_records_returned}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>