<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Admin/WebDocumentMaintenance
 * File: Add.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Add Web Document form.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Jan 01, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.web_document_maintenance.edit.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire=${ new String[]{ 'js/controllers/Admin/WebDocumentMaintenance/WebDocumentMaintenanceAddController', 'js/controllers/AdminSidebarNavController'} })">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var webDocument = /*[[${document}]]*/null;
            var webDocumentTypes = /*[[${documentTypes}]]*/null;
                
            Utility.putPageSessionItem( "WebDocumentMaintenanceAdd", "webDocument", webDocument );
            Utility.putPageSessionItem( "WebDocumentMaintenanceAdd", "webDocumentTypes", webDocumentTypes );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />

    <div th:replace="fragments/contentwrappers :: admin_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="WebDocumentMaintenanceAdd">
                <div style="flex-basis: 0px; flex-grow: 1; flex-shrink: 0;">
                    <div th:replace="fragments/message_containers :: messages" />
                </div>
                
                <form name="addWebDocumentForm" id="addWebDocumentForm" th:object="${document}" class="flex-column mce-flex" style="display: flex; flex-direction: column; flex-basis: 100%; flex-grow: 1; flex-shrink: 1;">                    
                    <div class="panel panel-default" style="flex-basis: 54px; flex-grow: 0; flex-shrink: 0;">
                        <div class="row padding-10">
                            <div class="col-xs-6 line-height-2">
                                <span class="padding-5"><strong th:text="#{admin.web_document_maintenance.add.title}"></strong></span>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-sm btn-default" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span> <span>Save</span></button>
                                <button class="btn btn-sm btn-link" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    
                    <div style="flex: 0 0 auto;">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="required" for="title" th:text="#{models.web_document.title}">Title</label>
                                <input type="text" th:field="*{title}" class="form-control" ng-model="model.webDocument.title" maxlength="250" required />
                            </div>
                            
                            <div class="col-md-6 form-group">
                                <label class="required" for="documentType" th:text="#{models.web_document.document_type}">Document Type</label>
                                <select th:field="*{documentType}" class="form-control" ng-model="model.webDocument.documentType" ng-options="key as label for (key, label) in model.webDocumentTypes" required></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="required" for="friendlyUrl" th:text="#{models.web_document.friendly_url}">Friendly URL</label>
                                <input type="text" th:field="*{friendlyUrl}" class="form-control" ng-model="model.webDocument.friendlyUrl" maxlength="250" required />
                            </div>
                            
                            <div class="col-md-6 form-group">
                                <label class="required" for="locale" th:text="#{models.web_document.locale}">Locale</label>
                                <input type="text" th:field="*{locale}" class="form-control" ng-model="model.webDocument.locale" maxlength="20" required />
                            </div>
                        </div>
                    </div>
                    
                    <textarea ui-tinymce="model.tinymceOptions" ng-model="model.webDocument.content" style="flex-basis: 100%; flex-grow: 1; flex-shrink: 1;"></textarea>
                </form>
            </div>
        </div>
    </div>
</body>
</html>