<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<!--
//@formatter:off
/***************************************************************************************************************************************************************
 * #######################
 * #   FILE DESCRIPTOR   #
 * #######################
 * Application: AetherWEB
 * Directory: /WebContent/content/views/Admin/WebDocumentMaintenance
 * File: Index.xhtml
 * 
 * #######################
 * #     MIT LICENSE     #
 * ####################### 
 * Copyright (c) 2016, Clinton Bush.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal 
 * in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell   
 * copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS  
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER  
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 * 
 * #######################
 * #       Purpose       #
 * #######################
 * Web Maintenance List screen.
 *
 * #######################
 * #      Revision       #
 * ####################### 
 * Dec 26, 2016, Clinton Bush, 1.0.0,
 *    New file.
 * 
 *************************************************************************************************************************************************************** 
 */
//@formatter:on
//-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.web_document_maintenance.title}">Aether</title>
    
    <th:block th:replace="fragments/common_html_head :: head(pageRequire=${ new String[]{ 'js/controllers/Admin/WebDocumentMaintenance/WebDocumentMaintenanceIndexController', 'js/controllers/AdminSidebarNavController'} })">
        <script type="text/javascript" th:inline="javascript" th:fragment="include_script">
        //<![CDATA[
            var documents = /*[[${documents}]]*/null;
            var documentTypes = /*[[${documentTypes}]]*/null;
            Utility.putPageSessionItem( "WebDocumentMaintenanceIndex", "documents", documents );
            Utility.putPageSessionItem( "WebDocumentMaintenanceIndex", "documentTypes", documentTypes );
        //]]>
        </script>
    </th:block>
</head>
<body>
    <nav th:replace="fragments/headers :: main_header" />
    
    <div th:replace="fragments/contentwrappers :: admin_content_wrapper">
        <div th:fragment="content">
            <div class="column-flex padding-20" ng-controller="WebDocumentMaintenanceIndex">
                
                <div th:replace="fragments/message_containers :: messages" />
                
                <div class="panel panel-default">
                    <div class="row padding-10">
                        <div class="col-xs-6 line-height-2">
                            <span class="padding-5"><strong th:text="#{admin.web_document_maintenance.title}"></strong></span>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a th:href="@{/Admin/WebDocumentMaintenance/Add}" class="btn btn-sm btn-primary"><span class="material-icons md-18">note_add</span> <span th:text="#{admin.web_document_maintenance.add.title}"></span></a>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-10" style="height: 30px;">
                    <div class="col-sm-6">
                        <span class="label label-primary">
                            <span ng-bind="model.firstRecord">0</span> - <span ng-bind="model.lastRecord">0</span> of <span ng-bind="model.totalRecords">0</span>
                        </span>
                    </div>
                </div>
                
                <table ng-table="model.tableParams" class="table table-condensed table-bordered table-striped table-hover">
                    <tr ng-repeat="row in $data" ng-click="editDocument(row)" style="cursor: pointer;" ng-cloak>
                        <td th:attr="data-title='\'' + #{models.web_document.title} + '\''" sortable="'title'" ng-bind="row.title"></td>
                        <td th:attr="data-title='\'' + #{models.web_document.friendly_url} + '\''" sortable="'friendlyUrl'" ng-bind="row.friendlyUrl"></td>
                        <td th:attr="data-title='\'' + #{models.web_document.document_type} + '\''" sortable="'documentType'" ng-bind="convertDocumentType(row.documentType)"></td>
                        <td th:attr="data-title='\'' + #{models.web_document.permanent} + '\''" sortable="'permanent'" style="text-align: center;">
                            <span ng-show="row.permanent"><span class="material-icons" title="Permanent">check_circle</span></span>
                            <span ng-show="!row.permanent"><span style="font-size: 24px;">&nbsp;</span></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>